PGHOST='ep-wispy-darkfgdfhness-ag0ig12rghfgj-pooghhjfgbler.c-2.eu-central-1.aws.neon.tech'
PGDATABASE='neogjfndb'
PGUSER='neondb_fghjkjhgowner'
PGPASSWORD='npg_7CyghjkjhgryuioiuytrfvbnjuytVABOuyghbnZk8J'
